
.motto-section {
    width: 100vw;
    height: 100vh;
    // background-color: pink;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    // letter-spacing: 2px;
    font-size: 20rem;
    line-height: 90%;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: column;
    padding: 12rem;
    align-items: flex-start;
    justify-content: center;

    &__line--1 {
        display: block;
    }
    
    &__line--2 {
        display: block;     
    }
    
    &__line--3 {
        display: block; 
    }
    
    &__line--4 {
        display: block;
    }
}
