.Articles {
  padding: 0 15rem;

  // Grid Reference ==> Home
  grid-row: articles / video;
  grid-column: gutter-start / -1;
  background-color: rgb(243, 243, 243);

  // Layout for the component
  display: flex;
  flex-direction: column;

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    letter-spacing: 4px;
    margin: 5rem 0;
  }

  .article-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 6.66%;
    font-family: 'Montserrat', sans-serif;
    // background-color: rgb(179, 71, 112);
    margin-bottom: 10rem;

    &:not(:nth-last-child()) {
    }

    &__article {
      // background-color: aliceblue;
      grid-column: span 3;

      &-img {
        width: 100%;
        height: 30rem;
        background: url('../../assets/tokyo-tower-overcast.jpg');
        background-position: center;
        background-size: cover;
      }

      &-text {
        display: flex;
        flex-direction: column;
        font-weight: 300;

        h4 {
          margin-top: 1.4rem;
          font-size: 2rem;
        }

        h3 {
          margin-top: 1rem;
          font-size: 3rem;
        }

        p {
          color: rgb(53, 53, 53);
          margin-top: 1rem;
          margin-right: 3rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}
