.heading {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    align-items: center;
    

    color: white;
    height: 20rem;
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    
    // testing
    // background-color: red;
    
    &__main {
        font-size: 16rem;
        letter-spacing: 3rem;
        
        @media only screen and (min-width: 980px) and (max-width: 1023px) {
            font-size: 1rem;
            letter-spacing: 1rem;
            
        }
    }
    
    &__sub {
        font-size: 2.4rem;
        letter-spacing: 0.6rem;
        align-self: flex-start;
        text-transform: uppercase;
    }
}