.Home {
  display: grid;
  grid-template-rows: [empty] 10vh [big-text] 90vh [about] 100vh [articles] min-content [video] 100vh [footer] 40vh;
  grid-template-columns: [gutter-start] 1fr [content-start] 12fr [gutter-end] 1fr;
}

//? section for huge text on home page
.motto-section {
  overflow: hidden;
  grid-row: big-text / about;
  grid-column: content-start / gutter-end;
  // background-color: pink;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 100%;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.motto-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start
}

.overview {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  // background-color: #343a40;
  grid-row: about / span 1;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 100vh;

  &-content {
    // background-color: springgreen;
    grid-row: 1 / -1;
    grid-column: 5 / -1;

    display: grid;
    grid-template-columns: [gutter-start] 1fr [content-start] 6fr [gutter-end] 1fr;
    grid-template-rows: [gutter-start] 1fr [content-top] max-content [content-bottom] max-content [gutter-end] 1fr;

    &__title {
      // background-color: whitesmoke;
      grid-row: content-top / content-bottom;
      grid-column: content-start / gutter-end;
      padding-bottom: 3.5rem;

      h2 {
        font-size: 5.5rem;
        font-family: "Playfair Display", serif;
        font-weight: 400;

        span {
          padding-left: 1rem;
          background-color: rgb(218, 88, 88);
          color: #fff;
        }
      }
    }

    &__bottom {
      font-family: "Playfair Display", serif;
      font-weight: 600;
      // background-color: rgb(248, 248, 140);
      grid-row: content-bottom / gutter-end;
      grid-column: content-start / gutter-end;

      &-text {
        width: 100%;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 180%;
      }
    }
  }

  &-img-container {
    // background-color: rgb(225, 65, 217);
    grid-row: 1 / -1;
    grid-column: 1 / 5;

    display: grid;
    grid-template-columns: [gutter-start] 1fr [content-start] 6fr [gutter-end] 1fr;
    grid-template-rows: [gutter-start] 1fr [content-start] 10fr[gutter-end] 1fr;

    &__img {
      grid-column: gutter-start / gutter-end;
      grid-row: 1 / -1;
      background: url(../../assets/woman-walking-red.jpg);
      background-size: cover;
      background-position: top;
    }
  }
}

.video-placeholder {
  grid-row: video / footer;
  grid-column: 1 / -1;
  background-color: rgb(84, 84, 182);
}

.footer {
  grid-row: footer / -1;
  grid-column: 1 / -1;
  background-color: slategray;
}
